html, .wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#map{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
    .mapboxgl-ctrl-geolocate{
        display: none;
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib{
        background-color: transparent;
        *{
            color: var(--txt-color);
        }
    }
}

.tracked-vehicle-details{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    background-color: var(--bg-sec-color);
    backdrop-filter: blur(10px);
    color: white;
    color: white;
    padding: 1rem;
    border-radius: .3rem;
    margin: .4rem;
    width: fit-content;
    h2{
        margin: 0;
        span{
            opacity: .5;
            font-weight: 100;
        }
    }
}

#busInfo{
    z-index: 200;
    background-color: var(--bg-sec-color);
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    padding: 1rem;
    border-radius: .3rem;
    margin: .4rem;
    display: none;
    > div{
        display: flex;
        flex-direction: column;
        ul{
            margin-top: 0;
        }
    }
}

.search{
    position: absolute;
    z-index: 250;
    margin: .4rem;
    border-radius: .3rem;
    background-color: var(--bg-sec-color);
    backdrop-filter: blur(10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    div:first-of-type{
        padding: .3rem;
        border-radius: .4rem;
        display: flex;

    }
    input, button{
        background: transparent;
        border: 0;
        padding: .3rem;
        outline: 0;
        color: inherit;
        font-family: inherit;
    }
    button{
        padding: .3rem;
        padding-bottom: 0;
    }
}

@media (max-width: 766px) {
    .search{
        width: calc(100% - .8rem);
        input{
            font-size: 1em;
        }
        input:nth-of-type(1){
            width: 100%;
        }
    }
    .tracked-vehicle-details{
        width: calc(100% - .8rem);
    }
}