body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0;
    div{
        width: clamp(400px, 400px, 80vw);
        display: flex;
        flex-direction: column;
        background-color: var(--bg-sec-color);
        padding: .4rem;
        border-radius: .3rem;
        select, input{
            background-color: transparent;
            border: 0;
            outline: 0;
            padding: .5rem;
            color: white;
        }
        input{
            padding-left: .7rem;
        }
        select{
            option{
            background-color: var(--bg-sec-color);
            }
        }
        img{
            width: 100%;
            border-radius: .3rem;
            margin: .3rem;
        }
    }
}